:root {
   /* COLOURS*/
   --sitered: rgb(255, 5, 71);
   /* FONT COLOURS*/
   --linkred:    var(var(--sitered));
   --linkreddark:rgb(255, 5, 80);
   --linkgrey:   rgb(92, 92, 92);

}
@font-face {
   font-family: SFMono-Regular;
   src: local("SFMono-Regular");
 }
/* @font-face {
   font-family: "IBM Plex Serif";
   src: url(https://fonts.gstatic.com/s/ibmplexserif/v9/jizAREVNn1dOx-zrZ2X3pZvkTi2k_iI6q1vjitOh3oc.woff2) format('woff2');
   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} */
/* STANDARD */
html, body {
   margin: 0;
   padding: 0;
}
html {
   font-size: 22px;
   line-height: 38px;
}
body {
   font-family: /* 'IBM Plex Sans', */ -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* NO SMOOTH SCROLL */
@media screen and (prefers-reduced-motion: reduce) {
   html {
      scroll-behavior: auto;
   }
}
@media screen and (prefers-reduced-motion: no-preference) { 
   html {
      scroll-behavior: smooth;
   }
}

/* LIGHT OR DARK MODE */
@media (prefers-color-scheme: light) {
   body {
      background-color: rgb(235, 235, 235);
   }
}
@media (prefers-color-scheme: dark) {
   body {
      background-color: rgb(18, 18, 18);
   }
   img {
      filter: brightness(.8) contrast(1.2);
   }
   body {
      color: rgb(235, 235, 235);
   }
}
 


/* MENU */

.top-nav-menu-list {
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0);
  display: flex;
  justify-content: space-between;
}

.top-nav-menu-list a {
  display: block;
  padding: 1em;
}
#top-nav-menu-home {
   flex-grow: 1;
}
.top-nav-menu-list .top-nav-menu-hamburger {
  display: none;
}

@media screen and (max-width: 600px) {
   .top-nav-menu-list {
      overflow: hidden;
      background-color: rgba(51, 51, 51, 1);
   }
   .top-nav-menu-list a:not(:first-child) {display: none;}
   .top-nav-menu-list a.top-nav-menu-hamburger {
      display: flex;
      flex-direction: column;
      display: block;
  }
  #top-nav-menu-home {
   flex-grow: 0;
}
}
.responsive {
   display: flex;
   flex-direction: column;
   }

@media screen and (max-width: 600px) {
   .top-nav-menu-list.responsive {position: relative;}
   .top-nav-menu-list.responsive .top-nav-menu-hamburger {
      position: absolute;
      right: 0;
      top: 0;
  }
   .top-nav-menu-list.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
}






/* FONTS */
.top-nav {
   font-family: "IBM Plex Serif", -apple-system-ui-serif, ui-serif, serif;
   font-size: 1rem;
   line-height: 1rem;
   font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
   font-family: /* 'IBM Plex Mono', */ SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}
h1 {
   margin-top: 3em;
   font-size: 2.045rem;
   line-height: 1.578em;
}
h2 {
   margin-top: 3em;
   font-size: 2.045rem;
   line-height: 1.578em;
}
h3 {
   font-size: 1.636rem;
   line-height: 1.611em;
}
h4 {
   font-size: 1.273rem;
   line-height: 1.643em;
}
p {
   font-family: /* 'IBM Plex Sans', */ -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 1rem;
   line-height: 1.727em;
}
#intro-text {
   font-family: /* 'IBM Plex Sans', */ -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 1.636rem;
   line-height: 3rem;
   color: rgb(235, 235, 235);
   /* max-width: 40ch; */
   margin: 0 0;
   max-width: 60ch;
}
code {
   font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
   /* 'Fira Code',  'IBM Plex Mono', monospace; */
   font-size: 1rem;
   line-height: 1rem;
}
.site-grid-form input {
   font-family: /* 'IBM Plex Sans', */ -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 1rem;
   line-height: 38px;
}
#site-grid-form-text {
   font-family: /* 'IBM Plex Sans', */ -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 1rem;
   line-height: 38px;
}
#site-grid-form-button {
   font-family: /* 'IBM Plex Sans', */ -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 1rem;
   line-height: 38px;
}
/* INTRO */
.site-grid-scroll-img {
   display: flex;
   align-items: center;
   justify-content: center;
}
#intro-div {
   display: flex;
   align-items: center;
   justify-content: center;
   }


 
/* LINKS */
a:link {
   color: var(--linkred);
   text-decoration: none;
   transition-property: color;
   transition-duration: 0,5s;
   
}
 
a:visited {
   color: var(--linkgrey);
   text-decoration: none;
}
 
a:hover {
   color: var(--linkreddark);
   text-decoration: underline;
   text-decoration-thickness: 3px;
}
 
a:active {
   color: var(--linkreddark);
   text-decoration: underline;
   text-decoration-thickness: 3px;
}

/* MENU LINKS*/
.top-nav-menu-list a:link {
   color: var(--linkreddark);
   text-decoration: none;
   transition-property: color;
   transition-duration: 0,5s;
}
.top-nav-menu-list a:visited {
   color: var(--linkreddark);
   text-decoration: none;
}
.top-nav-menu-list a:visited {
   color: var(--linkreddark);
   text-decoration: none;
}
.top-nav-menu-list a:hover {
   color: var(--linkreddark);
   text-decoration: underline;
   text-decoration-thickness: 3px;
}
.top-nav-menu-list a:hover {
   color: var(--linkreddark);
   text-decoration: underline;
   text-decoration-thickness: 3px;
}
.top-nav-menu-list a:active {
   color: var(--linkreddark);
   text-decoration: none;
}
.top-nav-menu-list-right a:active {
   color: var(--linkreddark);
   text-decoration: none;
}




/* GRID */
.site-grid-wraper {
   display: grid;
   grid-template-areas: 'nav nav nav'
                        'header header header'
                        'header header header'
                        'header header header'
                        '. intro .'
                        'scroll scroll scroll'
                        '. about .'
                        '. portfolio .'
                        '. contact .'
                        '. footer footer';
   grid-template-columns:
                        1fr
                        min(60ch, 90%)
                        1fr;

   grid-auto-rows: auto;
}
@media only screen  /* MOBILE STYLE FOR PORFOLIO LIST*/
   and (max-width: 812px) { 
   .site-grid-wraper {
      grid-template-areas: 'nav nav nav'
                           'header header header'
                           'header header header'
                           'header header header'
                           '. intro .'
                           'scroll scroll scroll'
                           '. about .'
                           '. portfolio .'
                           
                           '. contact .'
                           '. footer footer';
      grid-template-columns:
                           1fr
                           95%
                           1fr;
   }
}
/* DUAL SCREEN
@media (screen-spanning: single-fold-vertical) {
   
} */
.site-grid-nav {
   grid-area: nav;
   z-index: 2;
}
.site-grid-header {
   /* grid-area: header; */
   grid-column: 1 / 4;
   grid-row: 1 / 5;
   z-index: 1;
   height: 100vh;
   overflow: hidden;
}
.site-grid-intro {
   /* grid-area: intro; */
   grid-column: 2;
   grid-row: 2 / 4;
   z-index: 2;
}
.site-grid-scroll {
   /* grid-area: scroll; */
   grid-column: 1 / 4;
   grid-row: 4;
   z-index: 2;
   padding: 1em;
}

.site-grid-portfolio {
   grid-area: portfolio;
}
.site-grid-portfolio-content{
   width: 100vw;
   position: relative;
   left: 50%;
   right: 50%;
   margin-left: -50vw;
   margin-right: -50vw;
}
.site-grid-about {
   grid-area: about;
}
.site-grid-contact {
   grid-area: contact;
}
.site-grid-footer {
   grid-area: footer;
}


/* PORTFOLIO GRID */
.site-grid-portfolio-about {
   grid-column: 2;
   grid-row: 2;
}
.site-grid-portfolio-iframe {
   grid-column: 1 / 4;
   grid-row: 7;
}


/* IMG */
.site-grid-header {
   background: conic-gradient(at 125% 50%, rgba(72, 55, 97, 0.18), rgba(87, 43, 51, 0.18), rgba(255,207,13,0.16), rgba(87, 43, 51, 0.18), rgba(183,140,247,0.19)), url("../img/background.jpg");
   background-size: cover;
}
@media only screen /* TABLET */
   and (max-width: 1279px) {
   .site-grid-header {
      background-image: url("../img/background-tp.jpg");
   }
}
@media only screen /* PHONE */
   and (max-width: 812px) {
   .site-grid-header {
      background-image: url("../img/background-m.jpg");
   }
}

#site-grid-scroll-img-svg {
   height: 70px;
}
#site-grid-scroll-img-png {
   height: 70px;
}




/* PORTFOLIO */
.site-grid-portfolio-content {
   display: inline-flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: left;

   line-height: 0;
}
.portfolio-content-img {
   width: 50%;
   margin: 0;
   padding: 0;
   position: relative;
}
@media only screen  /* MOBILE STYLE FOR PORFOLIO LIST*/ 
   and (max-width: 812px)  { 
   .portfolio-content-img {
     width: 100%;
   }
}
.site-grid-portfolio-content a .portfolio-content-img-actual {
   width: 100%;
   margin: 0;
   padding: 0;

}






/* PORTFOLIO ICONS */
.portfolio-content-img-icon-container {
   display: flex;
   position: absolute;
   bottom: 1em;
}

.portfolio-content-img-icon-container p {
   margin: 0 0.2em;
}
.portfolio-content-img-icon-ui, .portfolio-content-img-icon-long, .portfolio-content-img-icon-more {
   border: 2px solid rgb(255, 5, 71);
   text-align: center;
   font-size: 0.7em;
   background-color: rgb(255, 255, 255);
}
.portfolio-content-img-icon-ui {
   height: 2em;
   width: 2em;
   border-radius: 99em;
   padding: 0.1em;
}
.portfolio-content-img-icon-long {
   
   border-radius: 99em;
   height: 2em;
   padding: 0.1em 0.5em;
}

.portfolio-content-img-icon-more {
   border: 2px solid rgb(99, 99, 99);
   border-radius: 99em;
   height: 2em;
   padding: 0.1em 0.5em;
}
.portfolio-content-img-icon-more a:link {
   color: rgb(255, 5, 71);
   text-decoration: none;
}
 
.portfolio-content-img-icon-more a:visited {
   color: rgb(92, 92, 92);
   text-decoration: none;
}
 
.portfolio-content-img-icon-more a:hover {
   color: rgb(255, 5, 80);
   text-decoration: underline;
}
 
.portfolio-content-img-icon-more a:active {
   color: rgb(255, 5, 80);
   text-decoration: underline;
}



/* FORM */
.site-grid-form input {
   border: 2px solid var(--sitered);
   border-radius: 3px;
   width: 100%;
   height: 2.5em;
   display: block;
   box-sizing: border-box;
   margin-bottom: 1em;
   padding: 0 0.5em;
}
.site-grid-contact input input[type=submit] {
   box-sizing: content-box;
}
#site-grid-form-text {
   border: 2px solid var(--sitered);
   border-radius: 3px;
   width: 100%;
   height: 10em;
   display: block;
   box-sizing: border-box;
   margin-bottom: 1em;
   padding: 0.5em;
   resize: none;
}


#site-grid-form-button{
   margin-top: 2em;
   height: 2.5em;
   width: 100%;
   border: 2px solid var(--sitered);
   border-radius: 3px;
   background-color: var(--sitered);
   border: none;
   background: rgb(255,5,71);
   background: -moz-linear-gradient(133deg, rgba(255,5,71,1) 0%, rgba(255,5,80,1) 100%);
   background: -webkit-linear-gradient(133deg, rgba(255,5,71,1) 0%, rgba(255,5,80,1) 100%);
   background: linear-gradient(133deg, rgba(255,5,71,1) 0%, rgba(255,5,80,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0547",endColorstr="#ff0550",GradientType=1);
}

.site-grid-footer{
   margin-top: 3em;
}





/* PORTFOLIO PAGES */
.site-grid-portfolio-iframe-acutal {
   width: 100%;
   border-top: 2px solid rgb(255, 5, 71);

   height: 40em;
}