.navLinks {
	display: flex;
	list-style: none;
	padding: 0 1em;
	justify-content: space-between;
	gap: 1em;
	align-items: baseline;
	font-size: 1.2em;
}

.navLinkItem:nth-child(2) {
	flex-grow: 1;
}
.navLinkText {
	color: black;
}