/* FONTS */
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #020202;
	font-size: 16;
}
.navName {
	font-family: "Fira Code";
	font-weight: 200;
}
/* COLOUR */
a:link {
	color: #020202;
}
a:visited {
	color: #020202;
}
a:hover {
	color: #020202;
}
a:active {
	color: #020202;
}
footer {
	color: #efefef;
}
footer ul li a:link {
	color: #efefef;
}
/* FONT SIZE */
.navBack {
	font-size: 1rem;
}
main p {
	font-size: 1rem;
}
main code {
	font-size: 1rem;
	font-family: "Fira Code";
}
aside ul li {
	font-size: 1rem;
}
main p time {
	font-size: 0.9em;
}
footer {
	font-size: 1rem;
}

/* VISUAL */
a[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"]),
  /* domains to exclude */
  [href*="//egilswenningleyser.dev"],
)):after {
	display: inline-flex;
	padding-left: 0.4em;
  content: url("../images/a-tag__regular.svg");
}
