/* FONTS */
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: var(--text-color);
	font-size: 16;
}
.navName {
	font-family: "Fira Code", monospace;
	font-weight: 200;
}
/* COLOUR */
a:link {
	color: var(--text-color-link);
	margin-right: 0.2em;
}
a:visited {
	color: var(--text-color-link);
}
a:hover {
	color: var(--text-color-link);
}
a:active {
	color: var(--text-color-link);
}
footer {
	color: var(--text-color-footer);
}
footer ul li a:link {
	color: var(--text-color-footer);
}

a[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
	[href^="mailto:"], 
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"]),
  /* domains to exclude */
  [href*="//egilswenningleyser.dev"],
)):after {
	display: inline-flex;
	padding-left: 0.2em;
  content: '↗';
	text-decoration: none;
	display: inline-block;
	
}

/* FONT SIZE */
.navBack {
	font-size: 1rem;
}
h1 {
	font-family: "Fira Code", 'SF Mono', SFMono-Regular, ui-monospace,
	'DejaVu Sans Mono', Menlo, Consolas, monospace;
}
h2 {
	font-size: 1.2em;
}
p time {
	font-size: 1em;
}
main p {
	font-size: 1rem;
	line-height: 1.6em;
}
main code {
	font-size: 1rem;
	font-family: "Fira Code", 'SF Mono', SFMono-Regular, ui-monospace,
	'DejaVu Sans Mono', Menlo, Consolas, monospace;
}
aside ul li {
	font-size: 1rem;
}
main p time {
	font-size: 0.9em;
}
footer {
	font-size: 1rem;
}
