body { 
	margin:0; 
	background-color: #020202;
	width: 100wv;

}


.gridContainer {
	display: grid;
	grid-template-rows: max-content;
	grid-template-columns: 1fr 80% 1fr;
	margin: 0;
}
.gridNav {
	grid-column: 1 / 4;
	grid-row: 1;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 19px -3px #000000; 
	box-shadow: 0px 0px 19px -3px #000000;
	z-index: 1;
}
.gridAboveFoldText {
	grid-column: 1 / 4;
	grid-row: 2 / 2;
	height: 90vh;
}
.gridAboutMe {
	grid-column: 1 / 4;
	height: 22em;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.gridMain {
	grid-column: 1 / 4;
	padding-bottom: 10em;
	display: flex;
	justify-content: center;
	border-radius: 0px 0px 30px 30px;
	background-color: #fff;
}
.mainContent {
	max-width: 90%;
}
.flexContent {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	justify-content: space-between;
	gap: 1em;
	margin-top: 4em;
}

.gridFooter {
	padding-top: 3em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 3em;
	grid-column: 1 / 4;
	z-index: -1;
	position: sticky;
  bottom: 0;
  left: 0;
	height: 10em;
	display: flex;
	align-items: flex-end;
}
