.site-grid-container {
	display: grid;
	grid-template-rows: max-content;
	grid-template-columns: 1fr 80% 1fr;
}
@media screen and (max-width: 481px) {
	.site-grid-container {
		grid-template-columns: auto 95% auto;
	}
}
@media screen and (max-width: 320px) {
	.site-grid-container {
		grid-template-columns: auto 95% auto;
	}
}



.site-grid-nav {
	grid-column: 1 / 4;
	grid-row: 1;
	z-index: 2;
}
.site-grid-above-fold-image {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	z-index: -1;
}
.site-grid-above-fold-text {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	z-index: 1;
	height: 100vh;
}
@media screen and (max-width: 481px) {
	.site-grid-above-fold-image {
		grid-row: 2;
	}
	.site-grid-above-fold-text {
		grid-column: 2;
		grid-row: 2;
	}
}
.site-grid-main {
	grid-column: 2;
}
.site-grid-test {
	grid-column: 2;
}
.site-grid-footer {
	grid-column: 1 / 4;

	display: flex;
	flex-direction: column;
}