/* Fonts */
body {
  font-family: arial, sans-serif;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.site-grid-nav__ul {
  list-style: none;
  font-family: "Sora", sans-serif;
}
.site-grid-nav__ul li {
  display: inline;
  font-weight: 800;
  padding: 1em;
  font-size: 1rem;
}
.site-grid-nav__ul li .nav__name {
  font-weight: 100;
  text-decoration: none;
}
.site-grid-nav__ul li #site-grid-nav__darkmode-button {
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: gray;
  font-size: 1rem;
  line-height: 0;
  padding: 0;
}
.site-grid-nav__ul li a {
  transition-property: text-decoration;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.site-grid-nav__ul li a:link {
  text-decoration: none;
  color: #171717;
}
.site-grid-nav__ul li a:visited {
  color: #171717;
}
.site-grid-nav__ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #171717;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}
.site-grid-nav__ul li a:active {
  text-decoration: underline;
  text-decoration-color: #171717;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

body.dark a:link {
  text-decoration: none;
  color: #efefef;
}
body.dark a:visited {
  color: #efefef;
}
body.dark a:hover {
  text-decoration: underline;
  text-decoration-color: #efefef;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}
body.dark a:active {
  text-decoration: underline;
  text-decoration-color: #efefef;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.above-fold-text__text {
  font-size: 58px;
  font-weight: 800;
  letter-spacing: 0.08em;
  line-height: 1em;
  margin: 0 1em;
}

@media screen and (min-width: 320px) {
  .above-fold-text__text {
    font-size: calc(58px + 8 * ((100vw - 320px) / 960));
  }
}
@media screen and (min-width: 500px) {
  .above-fold-text__text {
    font-size: 70px;
  }
}
h1 {
  font-family: "Sora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  line-height: 1.538em;
  color: #171717;
}

body.dark h1 {
  color: #efefef;
}

h2 {
  font-family: "Sora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  line-height: 1.561rem;
  color: #171717;
}

body.dark h2 {
  color: #efefef;
}

h3 {
  font-family: "Sora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2rem;
  line-height: 1.594rem;
  color: #171717;
}

body.dark h3 {
  color: #efefef;
}

h4 {
  font-family: "Sora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.64rem;
  color: #171717;
}

body.dark h4 {
  color: #efefef;
}

p {
  /* 	font-size: 1rem; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.7rem;
  color: #171717;
}

body.dark p {
  color: #efefef;
}

code {
  font-family: "Fira Code", "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.site-grid-main .main__p {
  letter-spacing: 0.08em;
  font-size: 1rem;
}
.site-grid-main ul {
  padding-left: 0;
}
.site-grid-main ul li {
  letter-spacing: 0.08em;
  font-size: 1rem;
  color: #efefef;
  list-style: none;
}
.site-grid-main .main__card .card__h3, .site-grid-main .main__card .card__p {
  padding-left: 0.25em;
}
.site-grid-main .main__card .card__whole a {
  transition-property: text-decoration;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.site-grid-main .main__card .card__whole a:link {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
  color: #171717;
}
.site-grid-main .main__card .card__whole a:visited {
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
  color: #171717;
}
.site-grid-main .main__card .card__whole a:hover {
  text-decoration: underline;
  text-decoration-color: #fa0536;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}
.site-grid-main .main__card .card__whole a:active {
  text-decoration: underline;
  text-decoration-color: #c63939;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

body.dark .site-grid-main .main__card .card__whole a:link {
  color: #efefef;
}
body.dark .site-grid-main .main__card .card__whole a:visited {
  color: #efefef;
}

.site-grid-footer .footer__big-box {
  letter-spacing: 0.08em;
  font-size: 1rem;
}
.site-grid-footer .footer__big-box form {
  margin-top: 1em;
}
.site-grid-footer .footer__big-box form input {
  padding: 0.5em;
  letter-spacing: 0.08em;
  font-size: 1rem;
}
.site-grid-footer .footer__big-box form textarea {
  padding: 0.5em;
  letter-spacing: 0.08em;
  font-size: 1rem;
}
.site-grid-footer .footer__big-box form button {
  letter-spacing: 0.08em;
  font-size: 1rem;
}
.site-grid-footer .footer__bottom {
  letter-spacing: 0.08em;
  font-size: 1rem;
}

body.dark .footer__big-box {
  color: #efefef;
}

.site-grid-container {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr 80% 1fr;
}

@media screen and (max-width: 481px) {
  .site-grid-container {
    grid-template-columns: auto 95% auto;
  }
}
@media screen and (max-width: 320px) {
  .site-grid-container {
    grid-template-columns: auto 95% auto;
  }
}
.site-grid-nav {
  grid-column: 1/4;
  grid-row: 1;
  z-index: 2;
}

.site-grid-above-fold-image {
  grid-column: 1/4;
  grid-row: 1/2;
  z-index: -1;
}

.site-grid-above-fold-text {
  grid-column: 1/4;
  grid-row: 1/2;
  z-index: 1;
  height: 100vh;
}

@media screen and (max-width: 481px) {
  .site-grid-above-fold-image {
    grid-row: 2;
  }

  .site-grid-above-fold-text {
    grid-column: 2;
    grid-row: 2;
  }
}
.site-grid-main {
  grid-column: 2;
}

.site-grid-test {
  grid-column: 2;
}

.site-grid-footer {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
}

/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
:root {
  accent-color: #fa0536;
}

body, html {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

html {
  line-height: 34px;
}

body {
  background-color: #efefef;
}

body.dark {
  background-color: #171717;
}

.site-grid-nav {
  width: 100%;
  height: min-content;
  background-color: lightgray;
  background: linear-gradient(180deg, #acacac 0%, rgba(211, 211, 211, 0) 80%);
}
.site-grid-nav .site-grid-nav__ul {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.site-grid-nav .site-grid-nav__ul li:first-child {
  align-self: flex-start;
  flex-grow: 1;
}
.site-grid-nav .site-grid-nav__ul .nav__name {
  display: flex;
}
.site-grid-nav .site-grid-nav__ul #nav__name--shield {
  height: 2em;
}
.site-grid-nav .site-grid-nav__ul #nav__name--shield path {
  stroke: #171717;
}
.site-grid-nav .site-grid-nav__ul #nav__name--egil {
  margin-left: 0.5em;
}
@media screen and (max-width: 581px) {
  .site-grid-nav #nav__name--egil {
    display: none;
  }
}
.site-grid-nav #site-grid-nav__darkmode-button {
  width: 2em;
  background-color: transparent;
  border-radius: 1em;
  height: 2em;
  border: #fa0536 solid 3px;
  text-align: center;
}
.site-grid-nav body.dark #site-grid-nav__darkmode-button {
  border: #c63939 solid 3px;
}

body.dark .site-grid-nav {
  background: linear-gradient(180deg, #464646 0%, rgba(211, 211, 211, 0) 80%);
}

body.dark .site-grid-nav #nav__name--shield path {
  stroke: #efefef;
}

.site-grid-above-fold-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.site-grid-above-fold-text .above-fold-text__text {
  background: linear-gradient(158deg, #fa0536, #0584fa);
  background-size: 400% 400%;
  animation: text-gradient 15s ease infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: space-around;
}
@keyframes text-gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@media (prefers-reduced-motion) {
  .site-grid-above-fold-text .above-fold-text__text {
    background: linear-gradient(158deg, #fa0536, #0584fa);
    background-size: 100% 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation-duration: 0s;
  }
}
.site-grid-main .main__card {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}
.site-grid-main .main__card li {
  list-style: none;
}
.site-grid-main .main__card .card__whole {
  width: calc(50% - 0.5em);
  border: 2px solid #171717;
  border-radius: 0.5em;
  margin-bottom: 1em;
}
.site-grid-main .main__card .card__whole .card__img {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 481px) {
  .site-grid-main .main__card .card__whole {
    width: 100%;
    /* a */
  }
}

body.dark .site-grid-main .main__card .card__whole {
  border: 2px solid #efefef;
  border-radius: 0.5em;
}

.site-grid-footer {
  background: #fb0000;
  background: linear-gradient(158deg, #fb0000 0%, #004cff 100%);
}
.site-grid-footer .footer__end {
  height: 9em;
  background-color: #efefef;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
}
@media screen and (max-width: 675px) {
  .site-grid-footer .footer__end {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 42%);
  }
}
.site-grid-footer .footer__big-box {
  background-color: #efefef;
  color: #171717;
  border-radius: 0.5em;
  margin: 2%;
  margin-top: 8em;
  max-width: 100%;
  height: 20em;
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}
.site-grid-footer .footer__big-box .footer__form {
  box-sizing: border-box;
  width: 70%;
}
.site-grid-footer .footer__big-box .footer__form input {
  width: 100%;
  height: 2em;
  box-sizing: border-box;
  border: 2px solid #fa0536;
  border-radius: 0.5em;
}
.site-grid-footer .footer__big-box .footer__form textarea {
  width: 100%;
  resize: none;
  height: 4em;
  box-sizing: border-box;
  border: 2px solid #fa0536;
  border-radius: 0.5em;
}
.site-grid-footer .footer__big-box .footer__form input:focus, .site-grid-footer .footer__big-box .footer__form textarea:focus, .site-grid-footer .footer__big-box .footer__form button:focus {
  outline: 2px solid #fa0536;
}
.site-grid-footer .footer__big-box .footer__form button {
  width: 100%;
  height: 2.5em;
  box-sizing: border-box;
  background-color: #fa0536;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0.5em;
  border: none;
  transition-property: transform, background;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.site-grid-footer .footer__big-box .footer__form button:active {
  background: radial-gradient(circle, #e3002d 0%, #fa0536 100%);
  box-shadow: 0px 3px 25px -8px rgba(0, 0, 0, 0.75);
  transform: translateY(4px);
}
.site-grid-footer .footer__big-box .big-box__large {
  flex-grow: 2;
}
.site-grid-footer .footer__big-box .big-box__small {
  flex-grow: 1;
}
.site-grid-footer .footer__big-box .big-box__small ul li#github::marker {
  content: "\f09b";
  font-family: "Font Awesome 5 Free";
}
.site-grid-footer .footer__big-box .big-box__small ul li#twitter::marker {
  content: "\f099";
  font-family: "Font Awesome 5 Free";
}
.site-grid-footer .footer__big-box .big-box__small ul li#mail::marker {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
}
@media screen and (max-width: 481px) {
  .site-grid-footer .footer__big-box {
    flex-direction: column;
    height: auto;
  }
  .site-grid-footer .footer__big-box .footer__form {
    box-sizing: border-box;
    width: 90%;
  }
  .site-grid-footer .footer__big-box .big-box__large {
    flex-grow: 1;
  }
  .site-grid-footer .footer__big-box .big-box__small {
    flex-grow: 1;
  }
}
@media screen and (max-width: 812px) and (orientation: landscape) {
  .site-grid-footer .footer__big-box {
    margin-left: 2%;
    margin-left: clamp(2%, 2% + env(safe-area-inset-left), 2em);
    margin-right: 2%;
    margin-right: clamp(2%, 2% + env(safe-area-inset-left), 2em);
  }
}
.site-grid-footer .footer__bottom {
  /* background-color: #ff69b4; */
  margin: 1em;
  margin-left: 2%;
  margin-left: clamp(2%, 2% + env(safe-area-inset-left), 2em);
  margin-right: 2%;
  margin-right: clamp(2%, 2% + env(safe-area-inset-left), 2em);
  max-width: 100%;
  height: 8em;
  border-radius: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/* @media screen and (max-width: 481px;) {

} */
body.dark .footer__end {
  background-color: #171717;
}

body.dark .footer__big-box {
  background-color: #171717;
}

/*# sourceMappingURL=style.css.map */
