/* Fonts */
@font-face {
  font-family: "Sora";
  src: url(../font/Sora-VariableFont_wght.ttf);
  font-weight: 800;
}
body {
  font-family: arial, sans-serif;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  transition-property: text-decoration;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
a:link {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
  color: #171717;
}
a:visited {
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
  color: #171717;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #fa0536;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}
a:active {
  text-decoration: underline;
  text-decoration-color: #c63939;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

body.dark a:link {
  color: #efefef;
}
body.dark a:visited {
  color: #efefef;
}



@media screen and (min-width: 320px) {
  .above-fold-text__text {
    font-size: calc(58px + 8 * ((100vw - 320px) / 960));
  }
}
@media screen and (min-width: 500px) {
  .above-fold-text__text {
    font-size: 70px;
  }
}
h1 {
  font-family: "Sora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.05rem;
  line-height: 1.561rem;
  color: #171717;
}

body.dark h1 {
  color: #efefef;
}

h2 {
  font-family: "Sora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  line-height: 1.594rem;
  color: #171717;
}

body.dark h2 {
  color: #efefef;
}

h3 {
  font-family: "Sora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.25rem;
  line-height: 1.64rem;
  color: #171717;
}

body.dark h3 {
  color: #efefef;
}

/* h4 {
	font-family: 'Sora', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 1rem;
	line-height: 1.7rem;
	color: $black-color;
} */
body.dark h4 {
  color: #efefef;
}

p {
  /* 	font-size: 1rem; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.7rem;
  color: #171717;
}

body.dark p {
  color: #efefef;
}

code {
  font-family: "Fira Code", "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.site-grid-main p {
  letter-spacing: 0.08em;
  font-size: 1rem;
}
.site-grid-main ul, .site-grid-main ol {
  padding-left: 0;
}
.site-grid-main ul li, .site-grid-main ol li {
  letter-spacing: 0.08em;
  font-size: 1rem;
  color: #171717;
}
.site-grid-main ul li i, .site-grid-main ol li i {
  margin-right: 1em;
  font-size: 1.2em;
}
.site-grid-main .twitter-list, .site-grid-main .github-list, .site-grid-main .mail-list {
  list-style-type: none;
}
@media screen and (max-width: 481px) {
  .site-grid-main .main__ul li {
    margin-left: 1em;
  }
}
.site-grid-main .main__card .card__h3, .site-grid-main .main__card .card__p {
  padding-left: 0.25em;
}

body.dark ul li {
  color: #efefef;
}

body.dark ol li {
  color: #efefef;
}

.site-grid-footer .footer__big-box {
  letter-spacing: 0.08em;
  font-size: 1rem;
}
.site-grid-footer .footer__big-box form {
  margin-top: 1em;
}
.site-grid-footer .footer__big-box form input {
  padding: 0.5em;
  letter-spacing: 0.08em;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.site-grid-footer .footer__big-box form textarea {
  padding: 0.5em;
  letter-spacing: 0.08em;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.site-grid-footer .footer__big-box form button {
  letter-spacing: 0.08em;
  font-size: 1rem;
}
.site-grid-footer .footer__big-box form .validation__check {
  color: #efefef;
  font-size: 1.2em;
  font-weight: 800;
}
.site-grid-footer .big-box__small ul {
  padding-left: 0;
}
.site-grid-footer .big-box__small ul li {
  list-style: none;
}
.site-grid-footer .big-box__small ul li i {
  margin-right: 1em;
  font-size: 1.2em;
}
.site-grid-footer .footer__bottom {
  letter-spacing: 0.08em;
  font-size: 1rem;
}

body.dark .footer__big-box {
  color: #efefef;
}

.site-grid-container {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr 80% 1fr;
}

@media screen and (max-width: 481px) {
  .site-grid-container {
    grid-template-columns: auto 95% auto;
  }
}
@media screen and (max-width: 320px) {
  .site-grid-container {
    grid-template-columns: auto 95% auto;
  }
}
.site-grid-nav {
  grid-column: 1/4;
  grid-row: 1;
  z-index: 2;
}

.site-grid-above-fold-image {
  grid-column: 1/4;
  grid-row: 1/2;
  z-index: -1;
}

.site-grid-above-fold-text {
  grid-column: 1/4;
  grid-row: 1/2;
  z-index: 1;
  height: 100vh;
}

@media screen and (max-width: 481px) {
  .site-grid-above-fold-image {
    grid-row: 2;
  }

  .site-grid-above-fold-text {
    grid-column: 2;
    grid-row: 2;
  }
}
.site-grid-main {
  grid-column: 2;
}

.site-grid-test {
  grid-column: 2;
}

.site-grid-footer {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
}

/* ABOUT */
.about-main {
  display: flex;
}
.about-main .about-list {
  list-style-type: none;
}
@media screen and (max-width: 480px) {
  .about-main {
    flex-direction: column;
    flex-direction: column-reverse;
  }
}
.about__image-wrapper {
  background-color: #ffac88;
  display: flex;
  flex: 1 1 100%;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.about__image-wrapper img {
  filter: grayscale(100%) contrast(1) blur(0px);
  height: 100%;
  mix-blend-mode: multiply;
  object-fit: cover;
  opacity: 1;
  position: relative;
  width: 100%;
}

.about__image-wrapper::before {
  background-color: #fa0536;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  mix-blend-mode: lighten;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* POST */
.site-grid-main .wp-block-image {
  margin: 0;
}
.site-grid-main .wp-block-image img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

:root {
  accent-color: #fa0536;
}

body, html {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

html {
  line-height: 34px;
}

body {
  background-color: #efefef;
}

body.dark {
  background-color: #171717;
}

.site-grid-main .main__card {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}
.site-grid-main .main__card li {
  list-style: none;
}
.site-grid-main .main__card .card__whole {
  width: calc(50% - 0.5em);
  border: 2px solid #171717;
  border-radius: 0.5em;
  margin-bottom: 1em;
}
.site-grid-main .main__card .card__whole .card__img {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 481px) {
  .site-grid-main .main__card .card__whole {
    width: 100%;
  }
}

body.dark .site-grid-main .main__card .card__whole {
  border: 2px solid #efefef;
  border-radius: 0.5em;
}

.site-grid-footer {
  background: #fb0000;
  background: linear-gradient(158deg, #fb0000 0%, #004cff 100%);
}
.site-grid-footer .footer__end {
  height: 9em;
  background-color: #efefef;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
}
@media screen and (max-width: 675px) {
  .site-grid-footer .footer__end {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 42%);
  }
}
.site-grid-footer .footer__big-box {
  background-color: #efefef;
  color: #171717;
  border-radius: 0.5em;
  margin: 2%;
  margin-top: 8em;
  max-width: 100%;
  height: 20em;
  display: flex;
  gap: 3em;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}
.site-grid-footer .footer__big-box .big-box__large {
  width: 60%;
}
.site-grid-footer .footer__big-box .big-box__large .footer__form {
  box-sizing: border-box;
  width: 100%;
}
.site-grid-footer .footer__big-box .big-box__large .footer__form #senderName, .site-grid-footer .footer__big-box .big-box__large .footer__form #senderText, .site-grid-footer .footer__big-box .big-box__large .footer__form #senderButton {
  width: 50vw;
}
.site-grid-footer .footer__big-box .big-box__large .footer__form input {
  height: 3em;
  box-sizing: border-box;
  border: 2px solid #fa0536;
  border-radius: 0.5em;
}
.site-grid-footer .footer__big-box .big-box__large .footer__form textarea {
  resize: none;
  height: 6em;
  box-sizing: border-box;
  border: 2px solid #fa0536;
  border-radius: 0.5em;
}
.site-grid-footer .footer__big-box .big-box__large .footer__form input:focus, .site-grid-footer .footer__big-box .big-box__large .footer__form textarea:focus, .site-grid-footer .footer__big-box .big-box__large .footer__form button:focus {
  outline: 2px solid #fa0536;
}
.site-grid-footer .footer__big-box .big-box__large .footer__form button {
  height: 2.5em;
  box-sizing: border-box;
  background-color: #fa0536;
  margin-top: 0.5em;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0.5em;
  border: none;
  transition-property: transform, background;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.site-grid-footer .footer__big-box .big-box__large .footer__form button:active {
  background: radial-gradient(circle, #e3002d 0%, #fa0536 100%);
  box-shadow: 0px 3px 25px -8px rgba(0, 0, 0, 0.75);
  transform: translateY(4px);
}
.site-grid-footer .footer__big-box .big-box__large .footer__form .form__input-validation {
  display: flex;
  align-items: flex-start;
}
.site-grid-footer .footer__big-box .big-box__large .footer__form .form__input-validation .validation__check {
  margin-left: 1em;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.site-grid-footer .footer__big-box .big-box__large .footer__form .form__input-validation input:valid + .validation__check {
  /* #3 - Animate the validation icon */
  opacity: 1;
}
.site-grid-footer .footer__big-box .big-box__large .footer__form .form__input-validation textarea:valid + .validation__check {
  /* #3 - Animate the validation icon */
  opacity: 1;
}
.site-grid-footer .footer__big-box .big-box__small {
  max-width: 21em;
}
@media screen and (max-width: 656px) {
  .site-grid-footer .footer__big-box {
    flex-direction: column;
    height: auto;
  }
  .site-grid-footer .footer__big-box .big-box__large {
    width: 100%;
  }
  .site-grid-footer .footer__big-box .big-box__large .footer__form {
    box-sizing: border-box;
  }
  .site-grid-footer .footer__big-box .big-box__large .footer__form #senderName, .site-grid-footer .footer__big-box .big-box__large .footer__form #senderText, .site-grid-footer .footer__big-box .big-box__large .footer__form #senderButton {
    width: 80vw;
  }
  .site-grid-footer .footer__big-box .big-box__small {
    width: 100%;
  }
}
@media screen and (max-width: 812px) and (orientation: landscape) {
  .site-grid-footer .footer__big-box {
    margin-left: 2%;
    margin-left: clamp(2%, 2% + env(safe-area-inset-left), 2em);
    margin-right: 2%;
    margin-right: clamp(2%, 2% + env(safe-area-inset-left), 2em);
  }
}
.site-grid-footer .footer__bottom {
  /* background-color: #ff69b4; */
  margin: 1em;
  margin-left: 2%;
  margin-left: clamp(2%, 2% + env(safe-area-inset-left), 2em);
  margin-right: 2%;
  margin-right: clamp(2%, 2% + env(safe-area-inset-left), 2em);
  max-width: 100%;
  height: 8em;
  border-radius: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/* @media screen and (max-width: 481px;) {

} */
body.dark .footer__end {
  background-color: #171717;
}

body.dark .footer__big-box {
  background-color: #171717;
}

/*# sourceMappingURL=style.css.map */
