$black-color : #171717;
$white-color : #efefef;

$accent-color: rgb(255, 73, 74); // #ff494a
$accent-color-dark: rgb(196, 57, 57); // #c43939
$accent-color-p3: color(display-p3 1 0.3 0.3 / 1);
$above-fold-gradient-color1: color(display-p3 0.42 0.908 0.828 / 1);
$above-fold-gradient-color2: color(display-p3 0.371 0.182 0.901 / 1);
