$black-color : #171717;
$white-color : #efefef;

$accent-color: rgb(250, 5, 54);      // #ff494a, Imerial Red
$accent-color-red : hsl(348, 96%, 50%); // #ff494a, Imerial Red
$accent-color-dark: hsl(0, 55%, 50%);        // #c43939, Madder Lake
$accent-color-blue: hsl(209, 96%, 50%); // #0584fa, Bleu de France
$accent-color-yellow: hsl(50, 96%, 50%);  // Mikado Yellow
$accent-color-green: hsl(78, 100%, 64%);  // Bitter Lime
$accent-color-p3: color(display-p3 1 0.3 0.3 / 1);
$above-fold-gradient-color1: color(display-p3 0.42 0.908 0.828 / 1);
$above-fold-gradient-color2: color(display-p3 0.371 0.182 0.901 / 1);