.backSpan { display: flex; }
.backSpan svg { 
	width: 1em;
	margin-right: 0.5em;
}
.topInfo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}
.topInfo h2 {
	font-size: 1.2em;
}
.topInfo p time {
	font-size: 1em;
	color: #858585;
}
.contentContainer {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	margin: 0 auto;
	gap: 2em;
}
.contentContainer .text {
	width: 60ch;
	max-width: 49%;
}
.contentContainer .list  {
	padding-left: 0;
}

.contentContainer .listItem {
	list-style-type: none;

}